<nav aria-label="breadcrumb">
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="#">Home</a></li>
          <li class="breadcrumb-item active" aria-current="page">Projetos</li>
        </ol>
</nav>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">Projetos</a>
    <button 
        class="navbar-toggler" 
        type="button"
        data-toggle="collapse"
        data-target="#navbarSupportedContent" 
        aria-controls="navbarSupportedContent" 
        aria-expanded="false" 
        aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
            <button class="btn btn-sm btn-outline-secondary" (click)="gotoNew('/projeto-novo', null)" type="button">Novo Projeto</button>
        </li>
        </ul> 
        <form class="form-inline my-2 my-lg-0">
        <input class="form-control mr-sm-2" type="search" placeholder="Buscar" aria-label="Buscar">
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
        </form>
    </div>
</nav>
<div class="row">
        <div class="col">
            <table class="table">
                <thead>
                    <tr>
                    <th scope="col">#</th>
                    <th scope="col">Nome</th>
                    <th scope="col">Data Inicio</th>
                    <th scope="col">Autor</th>
                    <th scope="col"></th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let item of projetos">
                    <th scope="row">{{codigo}}</th>
                    <td>{{item.nome}}</td>
                    <td>{{item.dataInicio}}</td>
                    <td>{{item.autor}}</td>
                    <td>
                        <span class="px-3"><a [routerLink]="'/projeto-editar'" routerLinkActive="active"><fa-icon [icon]="faPencilAlt"></fa-icon></a></span>
                        <span class="px-3"><a href="/projeto"><fa-icon [icon]="faEye"></fa-icon></a></span>                                                
                    </td>                    
                    </tr>
                </tbody>
            </table>
        </div>    
    </div>
<div>
